body {
    max-width: 100%;
    margin: 0 auto;
    height:auto;
    padding: 0;
    background-color: black;
    background-image:url("img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#startScreen {
    width: 90%;
    max-width: 500px;
    margin: 20px auto;
    margin-top:50px;
    height:auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    color: #140044df;
    font-size:x-large;
    background-color: #ccf9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#quizContainer {
    color: #003344;
    background-position:0%;
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    height:auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    color: #001044;
    background-color: #ccf9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#options,#user{
    font-size:medium;
    font-weight:bold;
}

#back,
#next,
#submit {
    height: 40px;
    width: 120px;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin: 10px 5px;
    transition: background-color 0.3s ;
}

#back:hover,
#next:hover,
#submit:hover {
    background-color: #1e1e1e;
}

#SubmitContainer {
    display: flex;
    justify-content:right; 
    align-items: right;     
    margin-right: 30px;
}


